<% include partials/header %>
<% include partials/topnav %>
<!-- LEFT MENU SIDE NAV -->
<div class="row">
  <div class="col-md-2 bg-dark">
    <% include partials/sidebar %>
  </div><!--  END SIDE NAV -->
<!-- CREATOR CONTENT -->
  <div class="col-md-10 bg-dark">
    <div class="row">
      <div class="col col-md-3">
        <div class="card text-white bg-dark">
          <div class="card-header">
            <%= Creator.creatorIMG %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= Creator.creatorName %></h5>
            <p class="card-text">
              <%= Creator.creatorBIO %>
            </p>
          </div>
        </div>
      </div> <!-- END CARD COL-2 -->
      <div class="col col-md-3">
        <div class="card text-white bg-dark">
          <div class="card-header">
            <%= Creator.creatorIMG %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= Creator.creatorName %></h5>
            <p class="card-text">
              <%= Creator.creatorBIO %>
            </p>
          </div>
        </div>
      </div> <!-- END CARD COL-3 -->
      <div class="col col-md-3">
        <div class="card text-white bg-dark">
          <div class="card-header">
            <%= creator.creatorIMG %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= Creator.creatorName %></h5>
            <p class="card-text">
              <%= creator.creatorBIO %>
            </p>
          </div>
        </div>
      </div> <!-- END CARD COL-4 -->
      <div class="col col-md-3">
        <div class="card text-white bg-dark">
          <div class="card-header">
            {{creatorIMG}}
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= Creator.creatorName %></h5>
            <p class="card-text">
              <%= Creator.creatorBIO %>
            </p>
          </div>
        </div>
      </div> <!-- END CARD COL-1 -->
    </div> <!-- END ROW -->
  </div><!-- END CONTENT COLUMN -->
</div>
<% include partials/footer %>